// pizzas

.pizzas
  margin-top 100%

  padding 0

  &__img

    //pizzas img

    border-bottom 12px solid black

    position absolute

    z-index 1

  &__price

    // pizzas price

    position relative

    margin-top 18%

    z-index 2

    &__sale
      background-color #f12c0a

      display block

      padding 3% 2%

      position absolute

      text-align center

      transition width .3s

      width 25%

      z-index 5

      &__link
        color white

        z-index 5

        &__info
          font-size   34px

          line-height 30px

          &__2
            font-size 24px

        &__price
          font-size   40px

          line-height 25px

        &:hover
          color white

          text-decoration none

        &:before
          background-color    #f12c0a
          background-image    url("../components/img/icon-arrow-right.png")
          background-repeat   no-repeat
          background-position 64% center

          border-radius 100%

          content ''

          top  30%
          left 92%

          position absolute

          height 75px
          width  69px

          z-index 10

      &:hover
        transition width .3s

        width 30%

    &__info
      background-color black

      color white

      position absolute

      padding 3% 2%

      left   25%

      text-align center

      height 202px
      width   75%

      z-index 4

      &__title
        font-size 55px

      &__text
        color #c3c3c3

        font-size 30px

.uppercase-text
  position absolute

  z-index 2

@media screen and (max-width: 1366px)
  @import "media/pizzas-media-1366px.styl"