// pizzas

.container-fluid.pizzas

    // pizzas img

    img(src='../components/img/pizzas.jpg' class='img-responsive pizzas__img')
    .col-md-2
    .col-md-8.pizzas__price
        // pizzas price
        .col-md-3.pizzas__price__sale
            a(href='#' class='pizzas__price__sale__link')

                p.pizzas__price__sale__link__info only <br>
                h2.pizzas__price__sale__link__price $18.90
                p.pizzas__price__sale__link__info__2 with tax

        .col-md-9.pizzas__price__info
            // pizzas info
            h3.pizzas__price__info__title 2 Large Cheese Pizzas
            p.pizzas__price__info__text everyday special


    .col-md-2