//new prices

.container-fluid
    .row
        .about
            .col-md-2.about__clear

                //new prices example

            .col-md-4.about__prices
                .about__prices__new
                    p.text-uppercase.about__prices__new__title New prices
                .about__prices__new__circle
                    img(src='../components/img/icon-arrow-bottom.png' class='about__prices__new__circle__img')
                .about__prices__sale


                    // new price for gnocchi

                    .wrap-circle_gnocchi.wrap-circle_gnocchi_top
                        .about__prices__sale__gnocchi__price-after
                            p.about__prices__sale__gnocchi__price-after__text $11.40
                    .wrap-circle_gnocchi.wrap-circle_gnocchi_bottom
                        .about__prices__sale__gnocchi__price-befor
                            p.about__prices__sale__gnocchi__price-befor__text $14.80

                    // info about gnocchi

                    .about__prices__sale__gnocchi
                        h2.about__prices__sale__gnocchi__title
                            a(href='#' class='about__prices__sale__gnocchi__title__link') Gnocchi Sorrento

                        p.about__prices__sale__gnocchi__info Our tomato sauce topped with mozzarella & fresh herbs.

                    // new price for alfredo

                    .wrap-circle_alfredo.wrap-circle_alfredo_top
                        .about__prices__sale__alfredo__price-after
                            p.about__prices__sale__alfredo__price-after__text $10.50
                    .wrap-circle_alfredo.wrap-circle_alfredo_bottom
                        .about__prices__sale__alfredo__price-befor
                            p.about__prices__sale__alfredo__price-befor__text $13.90

                    // info about alfredo

                    .about__prices__sale__alfredo
                        h2.about__prices__sale__alfredo__title
                            a(href='#' class='about__prices__sale__alfredo__title__link') Alfredo

                        p.about__prices__sale__alfredo__info Parmigiana cream sauce (Add Chicken $2, Add Shrimp $4).

                    // new price for calamari

                    .wrap-circle_calamari.wrap-circle_calamari_top
                        .about__prices__sale__calamari__price-after
                            p.about__prices__sale__calamari__price-after__text $12.40
                    .wrap-circle_calamari.wrap-circle_calamari_bottom
                        .about__prices__sale__calamari__price-befor
                            p.about__prices__sale__calamari__price-befor__text $15.30

                    // info about calamari

                    .about__prices__sale__calamari
                        h2.about__prices__sale__calamari__title
                            a(href='#' class='about__prices__sale__calamari__title__link') Calamari Marinara

                        p.about__prices__sale__calamari__info Calamari tossed with our zesty marinara over linguini.


            // welcome

            .col-md-6.about__welcome
                img(src='../components/img/2.jpg' class='about__welcome__img img-responsive')
                .divider
                .about__welcome__title
                    p.about__welcome__title__text Welcome
                .about__welcome__text
                    p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

                // contacts for Delivery

                .about__welcome__contact
                    p.about__welcome__contact__text Delivery <br> or Take Out
                    a(href='#' class='about__welcome__contact__number') +1 800 559 35 48
                    a(href='#' class='about__welcome__contact__link') <br>order now

                .divider-inverse

                // info about recipes

                .about__welcome__info
                    h2.about__welcome__info__title Best Recipes
                    p.about__welcome__info__text A lot of people all around the world admire Italian food. We work for big lovers of Italian culinary majesty, pizza, lasagna, different kinds of pasta, meatballs and spaghetti, specialty sauces, tasty desserts.
                    a(href='#' class='about__welcome__info__link') read more

