.about
  position absolute

  margin-top 30%

  z-index 10

  width 100%

  &__welcome
    padding 0

    &__img
      position absolute

      z-index 1

    &__title
      position absolute

      color white

      font-size 50px

      margin-left 17%
      margin-top  21%

      z-index 5

    &__text
      position absolute

      color white

      font-size 18px
      font-family "Open Sans", Helvetica, Arial, sans-serif

      margin-left 17%
      margin-top  35%

      width 40%

      z-index 5

    &__contact
      border 4px  dashed grey

      position absolute

      color white

      font-size 25px

      margin-top  64%
      margin-left 17%

      padding 8%

      width 40%

      z-index 5

      &__text
        font-size 40px

      &__number
        color #e8ff8a

        font-size 30px

        line-height 60px

        text-decoration none

        &:hover
          color white

          text-decoration none

          transition color .3s

      &__link
        color white

        line-height 60px

        text-decoration underline

        &:hover
          color #e8ff8a

          transition color  .3s

    &__info
      color white

      position absolute

      margin-top  113%
      margin-left  17%

      width 40%

      z-index 5

      &__title
        font-size 50px

      &__text
        font-size 18px
        font-family "Open Sans", Helvetica, Arial, sans-serif

      &__link
        color white

        font-size 22px
        font-family "Open Sans", Helvetica, Arial, sans-serif

        text-decoration underline

        &:hover
          color #e8ff8a

  &__prices
    padding 0

    &__new
      background-color #76c212

      color white

      padding 2% 0

      width 60%

      &__title
        color white

        font-size 38px

        text-align center


      &__circle
        background-color #76c212
        border-radius 100%

        margin-top  -7%
        margin-left 24%

        width  70px
        height 70px

        &__img
          margin-left 32%
          margin-top  55%

    &__sale
      margin-top 15%

      &__gnocchi
        background-color #dedede

        padding 8% 15%

        &__title
          font-size 40px

          &__link
            color black

            &:hover
              color black

        &__price-after
          background-color black

          border-radius 100%

          color white

          font-size 34px

          text-align center

          line-height 100px

          width  100%
          height 200%

        &__price-befor
          background-color #f2f2f2

          border-radius 100%

          color #2b2929

          font-size 25px

          line-height 100px

          text-align center

          margin-top -50%

          text-decoration line-through

          width  100%
          height 200%

          &__text
            position absolute

            margin-top  40%
            margin-left 28%

            text-decoration line-through

        &__info
          font-size 21px

          margin-top 7%

      &__alfredo
        background-color #c6c6c6

        margin-left 15%

        padding 12% 5% 12% 20%

        &__title
          font-size 40px

          &__link
            color black

            &:hover
              color black

        &__info
          font-size 21px

          margin-top 7%

        &__price-after
          background-color black

          border-radius 100%

          color white

          font-size 34px

          text-align center

          line-height 100px

          width  100%
          height 200%


        &__price-befor
          background-color #f2f2f2

          border-radius 100%

          color #2b2929

          font-size 25px

          line-height 100px

          text-align center

          text-decoration line-through

          margin-top -50%

          width  100%
          height 200%

          &__text
            position absolute

            margin-top  40%
            margin-left 28%

            text-decoration line-through

      &__calamari
        background-color #f6f6f6

        margin-left 22%

        padding 12% 5% 15% 15%

        &__title
          font-size 40px

          &__link
            color black

            &:hover
              color black

        &__info
          font-size 21px

          margin-top 7%

        &__price-after
          background-color black

          border-radius 100%

          color white

          font-size 34px

          line-height 100px

          text-align center

          width 100%
          height 200%

        &__price-befor
          background-color #f2f2f2

          border-radius 100%

          color #2b2929

          font-size 25px

          line-height 100px

          text-align center

          text-decoration line-through

          margin-top -50%

          width  100%
          height 200%

          &__text
            position absolute

            text-decoration line-through

            margin-top  40%
            margin-left 28%

.divider
  border 1px solid white

  position absolute

  height 200px

  margin-left 10%

  z-index 5

  &:after
    background rgb(255, 255, 255)

    border-radius 100px

    content ""


    position absolute


    transform translateX(-50%)

    top 220px

    width  25px
    height 25px

    z-index 5

  &-inverse
    border 1px solid white

    position absolute

    margin-left  10%
    margin-top  123%

    height 260px

    z-index 5

    &:before
      background rgb(255, 255, 255)

      border-radius 100px

      content ""

      position absolute

      top -25%

      transform translateX(-50%)

      width  25px
      height 25px

      z-index 5

.wrap-circle

  &_gnocchi
    height  80px
    width  160px

    overflow hidden

    margin-left 65%

    &_bottom
      position absolute

  &_alfredo
    height  80px
    width  160px

    position absolute

    overflow hidden

    transform rotate(270deg)

    margin-left  -4%
    margin-top   18%

    &_bottom
      margin-left 8.5%

  &_calamari
    height  80px
    width  160px

    position absolute

    overflow hidden

    margin-top  39%
    margin-left 60%

    &_bottom
      margin-top 52%

@media screen and (max-width: 1366px)
  @import "media/aboutUs-media-1366px.styl"