.menu
  padding 0

  &__title

    &__text
      font-size 40px

      &:before
        width 150px

      &:after
        width 150px

  &__text
    font-size 22px

  &__info
    margin-top -3%
    &__book

      &__list

        &__item
          font-size 14px

      &__price
        padding-right 17%

        &__list

          &__item
            font-size 14px

            margin-top 55%

.slide-btn
  padding-top  .3%
  padding-left .4%

  height 20px
  width  20px
