// menu

.container-fluid.menu

    // menu title

    h1.menu__title__text Menu

    p.menu__text We offer the best meals at <br> the best value
    .menu__img
        img(src='../components/img/menu.png' class='img-responsive')

    // menu book

    .menu__info
        #carousel-example-generic.carousel.slide(data-ride='carousel' data-interval='false')
            .carousel-inner(role='listbox').menu__info__book.text-uppercase

                // menu book page №1

                .item.active.menu__info__book__page.menu__info__book__page_1
                    .container-fluid.no-padding

                        // menu book page №1 right

                        .col-md-6.menu__info__book__page__rigth
                            ul.menu__info__book__list
                                li.menu__info__book__list__item large garden salad
                                li.menu__info__book__list__item bolognese
                                li.menu__info__book__list__item tuna salad
                                li.menu__info__book__list__item chicken wings
                                li.menu__info__book__list__item onion rings
                                li.menu__info__book__list__item mozzarella sticks
                                li.menu__info__book__list__item traditional pizza

                            // menu book page №1 right price

                            .menu__info__book__price
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $6.85
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25

                        // menu book page №1 left

                        .col-md-6.menu__info__book__page__left
                            ul.menu__info__book__list
                                li.menu__info__book__list__item seafood combo
                                li.menu__info__book__list__item bolognese
                                li.menu__info__book__list__item tuna salad
                                li.menu__info__book__list__item marinara
                                li.menu__info__book__list__item bolognese
                                li.menu__info__book__list__item fresh clam sauce
                                li.menu__info__book__list__item mozzarella sticks

                            // menu book page №1 left

                            .menu__info__book__price.menu__info__book__price__left
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25
                                    li.menu__info__book__price__list__item $9.32

                // menu book page №2

                .item.menu__info__book__page.menu__info__book__page_2
                    .container-fluid.no-padding

                        // menu book page №2 right

                        .col-md-6.menu__info__book__page__rigth
                            ul.menu__info__book__list
                                li.menu__info__book__list__item sealfood combo
                                li.menu__info__book__list__item bolognese
                                li.menu__info__book__list__item tuna salad
                                li.menu__info__book__list__item marinara
                                li.menu__info__book__list__item bolognese
                                li.menu__info__book__list__item fresh clam sauce
                                li.menu__info__book__list__item mozzarella sticks

                            // menu book page №1 right prices

                            .menu__info__book__price
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $6.85
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25

                        // menu book page №2 left

                        .col-md-6.menu__info__book__page__left
                            ul.menu__info__book__list
                                li.menu__info__book__list__item cheese or pizza fries
                                li.menu__info__book__list__item marinara
                                li.menu__info__book__list__item mussels marinara
                                li.menu__info__book__list__item neat sauce
                                li.menu__info__book__list__item fresh clam sauce
                                li.menu__info__book__list__item seafood combo
                                li.menu__info__book__list__item pesto bla

                            // menu book page №2 left prices

                            .menu__info__book__price.menu__info__book__price__left
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25
                                    li.menu__info__book__price__list__item $9.32

                // menu book page №3

                .item.menu__info__book__page.menu__info__book__page_3
                    .container-fluid.no-padding

                        // menu book page №3 right

                        .col-md-6.menu__info__book__page__rigth
                            ul.menu__info__book__list
                                li.menu__info__book__list__item cheese or pizza fries
                                li.menu__info__book__list__item marinara
                                li.menu__info__book__list__item mussels marinara
                                li.menu__info__book__list__item neat sauce
                                li.menu__info__book__list__item fresh clam sauce
                                li.menu__info__book__list__item seafood combo
                                li.menu__info__book__list__item pesto bla

                            // menu book page №3 right prices

                            .menu__info__book__price
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $6.85
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25

                        // menu book page №3 left

                        .col-md-6.menu__info__book__page__left
                            ul.menu__info__book__list
                                li.menu__info__book__list__item cheese or pizza fries
                                li.menu__info__book__list__item marinara
                                li.menu__info__book__list__item mussels marinara
                                li.menu__info__book__list__item neat sauce
                                li.menu__info__book__list__item fresh clam sauce
                                li.menu__info__book__list__item seafood combo
                                li.menu__info__book__list__item pesto bla

                            // menu book page №3 left prices

                            .menu__info__book__price.menu__info__book__price__left
                                ul.menu__info__book__price__list
                                    li.menu__info__book__price__list__item $5.60
                                    li.menu__info__book__price__list__item $6.51
                                    li.menu__info__book__price__list__item $5.21
                                    li.menu__info__book__price__list__item $7.65
                                    li.menu__info__book__price__list__item $2.36
                                    li.menu__info__book__price__list__item $8.25
                                    li.menu__info__book__price__list__item $9.32

            // menu book btn

            a.left(href='#carousel-example-generic' role='button' data-slide='prev' class='slide-btn prev-btn')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right(href='#carousel-example-generic' role='button' data-slide='next' class='slide-btn next-btn')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next


