//menu

.menu
  position relative

  margin-top 20%

  &__img
    position absolute

    z-index 1

  &__title

    //menu title

    &__text
      font-size 50px

      text-align center

      &:before
        border-bottom 1px solid grey

        content ''

        position absolute

        left 34%
        top  20%

        width 200px

        z-index 55

      &:after
        border-bottom 1px solid grey

        content ''

        position absolute

        left 56%
        top  20%

        width 200px

        z-index 55

  &__text
    font-size 30px

    margin-top 4%

    text-align center

  &__info

    // menu book

    &__book
      background-color #f6f6f6

      &__page

        &__left
          background-color #e6e6e6

      &__list
        list-style-type none

        padding 10% 0 20% 10%

        &__item
          font-size 22px

          margin-top 5%

          &:after
            border-bottom dashed 1px black

            content ''

            position absolute

            margin-top 5%

            width 50%

      &__price
        background-color #f6f6f6

        padding-right 10%
        padding-top   10%

        position absolute

        top   0
        left 80%

        height 100%

        z-index 500

        &__list
          list-style-type none

          padding-left 0

          &__item
            font-size 21px

            margin-top 50%

.slide-btn
  background-color black

  border-radius 100%

  color white

  display block

  height 30px
  width  30px

  top  85%
  left 23%

  padding-top  .5%
  padding-left .6%

  position absolute

  z-index 999

  &:hover
    background-color #76c212

    color white

    transition  all .4s

  &:visited
    color white

// menu book btn

.next-btn
  left 75%

.menu__info__book__price__left
  background-color #e6e6e6



#carousel-example-generic
  position absolute

  margin 10% 0 0 18%

  width 60%

  z-index 999

@media screen and (max-width: 1366px)
  @import "media/menu-media-1366px.styl"