// header

.header


  &__bg-img

    // background image

    position absolute

    z-index 1

    &__file
      opacity .8

  &__brand-img

    // header brand image

    position absolute


    margin-left 42%

    z-index 2

  &__title

    // header title

    position absolute

    font-size 20px

    margin-top 10%
    margin-left 46%

    z-index 2

    &__link
      color grey

      &:hover
        color grey

        text-decoration none

    &:before
      border-bottom 1px solid #bebebe

      content ''

      position absolute

      top 65%
      right 120%

      width 150px


    &:after
      border-bottom 1px solid #bebebe

      content ''

      position absolute

      top 65%
      left 120%

      width 150px

  &__contact
    // phone number

    position absolute

    margin-top 14%
    margin-left 45%

    width 50%

    font-size 24px

    z-index 5


    &__number
      margin-left 2%

      font-size 20px

      color black



      &:hover
        color #76c212

        text-decoration none

        transition color .5s

    &__icon
      margin-bottom 1%

    &:after
      border-bottom 1px solid #bebebe

      content ''

      position absolute

      top 130%
      left -3%

      width 250px

      z-index 2

// navigation

.navbar
  box-shadow none

  border none

  background-color transparent
  background-image none

.black-box
  background-color black

  height 78px

  &:after
    border-style solid
    border-width 13px 0 13px 13px
    border-color transparent transparent transparent #000

    content ''

    position absolute

    box-sizing border-box

    top 50%
    left 100%

    transform translateY(-50%)


.navigation

  margin-top 21%

  position absolute

  z-index 9999

  width 100%


.navbar-default .navbar-nav>li>a
  color black
.navbar
  margin-bottom 0

  &:hover
    color #76c212

    transition color .5s

// main menu

.nav
  width 100%

  &__item
    font-size 30px
    font-weight 400

    margin-left 5%

    padding 1%

    &__link
      display block

// about menu

.sub-nav
  background-color #76c212

  display none

  top 200px

  margin-left 8%

  padding 40px 0

  opacity 0

  box-shadow none

.dropdown-menu>li>a
  color white

  text-align center

  font-size 25px
  font-weight bold

  padding 10px 10px

  &:hover
    background-image none
    background-color #76c212

    color #7cffa1

    transition color .3s

// news menu

.sub-sub-nav
  background-color #2e2e2e

  display none

  position absolute

  margin-left 100%
  top: 50%

  padding 20px

  &__item
    list-style-type none

    padding 20px

    &__link
      display block

      font-size 25px

      color white

      &:hover
        text-decoration none

        color #e3ffa5

@media screen and (max-width: 1366px)
  @import "media/header-media-1360px.styl"