// header

.header

    // background image

    .header__bg-img
        img(src='../components/img/bg-image-1.jpg' class='img-responsive header__bg-img__file')

    // header brand image

    .header__brand-img
        a(href='#')
            img(src='../components/img/brand.png' class='img-responsive header__brand-img__file')

    // header title

    h2.header__title
        a(href='#' class='header__title__link') Italian Restaurant

    // phone number

    .header__contact
        i(class="fa fa-mobile header__contact__icon img-responsive" aria-hidden="true")
        a(href='#' class='header__contact__number') +1 800 559 35 48

// navigation

.container-fluid.navigation
    .row#nav-toggle
        .col-md-3.black-box
        .col-md-9
            .navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#responsive-menu')
                            span.sr-only Открыть навигацию
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    .collapse.navbar-collapse#responsive-menu

                        // main menu

                        ul.nav.navbar-nav
                            li.nav__item
                                a(href='#' class='nav__item__link') About us

                                // about menu

                                ul.sub-nav.dropdown-menu
                                    li.sub-nav__item
                                        a(href='#' class='sub-nav__item__link') History
                                    li.sub-nav__item
                                        a(href='#' class='sub-nav__item__link') Offers
                                    li.sub-nav__item
                                        a(href='#' class='sub-nav__item__link') News

                                        // news menu

                                        ul.sub-sub-nav
                                            li.sub-sub-nav__item
                                                a(href='#' class='sub-sub-nav__item__link') Fresh
                                            li.sub-sub-nav__item
                                                a(href='#' class='sub-sub-nav__item__link') Arvhive
                            li.nav__item
                                a(href='#' class='nav__item__link') Menu
                            li.nav__item
                                a(href='#' class='nav__item__link') Staff
                            li.nav__item
                                a(href='#' class='nav__item__link') Events
                            li.nav__item
                                a(href='#' class='nav__item__link') Contacts
.clear