.main
  background-color white

  position relative

  font-family 'Vidaloka', serif

  max-width 1920px

  margin 0 auto

.clear
  clear both

.no-padding
  padding 0

@import "header/header.styl"
@import "aboutUs/aboutUs.styl"
@import "pizzas/pizzas.styl"
@import "menu/menu.styl"
@import "service/service.styl"
@import "footer/footer.styl"