// header

.header

  &__brand-img
    margin-left 38%

  &__title
    font-size 15px


  &__contact
    margin-left 43%

    &__number
      font-size 15px

    &__icon
      margin-left 4%

.navigation
  margin-top 24%

.black-box
  height 68px

.nav

  &__item
    font-size 22px

.sub-nav
  margin-left -10%

  padding 20px 0


.dropdown-menu>li>a
  font-size 22px
  padding 8px

.sub-sub-nav
  font-size 22px

  padding 10px

  &__item
    padding 15px