.circle-title
  left 25%
  top  94%

  &__crown
    margin-top 14%

.service

  &__dishes
    &__title
      &__text
        font-size 30px

      &__info
        font-size 18px

    &__info

      &__link
        font-size 18px

    &__more
      left 31%
      top  30%

      width 40%

      &__text
        margin-top 27%