// circle with info

.circle-title
  background-color #76c212

  border white solid 15px
  border-radius 100%

  color white

  top  95%
  left 30%

  position absolute

  text-align center

  height  9%
  width  20%

  z-index 50

  &__crown
    display inline-block

    margin-top 20%

    text-align center

  &__title

    &__text
      font-size 42px

      margin-top 10%

// service

.service
  border-top 15px solid #bec6b0

  margin-top 60.7%

  &__cook
    margin-top  15%
    margin-left 15%

  &__spaghetti
    overflow hidden

  &__dishes
    margin-top 8%

    text-align center

    &__title

      &__text
        font-size 35px

      &__info
        color #f12c0a

        font-size 20px

        line-height 30px

        margin-top 5%

    &__img
      border-radius 100%

      display inline-block

      margin-top 15%

      text-align center

    &__info
      margin-top 12%

      &__link
        font-size 22px

        color black

        &:hover
          color #76c212

          text-decoration none

          transition .5s

    &__more
      background-color black

      border-radius 100%

      color white

      display none

      font-size 25px

      position absolute

      left 35%
      top  28%

      height 35%
      width  30%

      &__text
        margin-top 30%

@media screen and (max-width: 1366px)
  @import "media/service-media-1366px.styl"