// circle with info

.circle-title
    .circle-title__crown
        img(src='../components/img/crown.png' class='circle-title__crown__img img-responsive')
    .circle-title__title
        h1.text-uppercase.circle-title__title__text catering <br> service

// services

.service
    .continer-fluid.no-padding

        // cook photo

        .col-md-6
            img(src='../components/img/cook.jpg' class='img-responsive service__cook')

        // dishes

        .col-md-4.service__dishes

            // dishes title

            .service__dishes__title
                .row
                    h2.service__dishes__title__text Please Call at Least 24 Hours in<br> Advance For Catering Orders
                .row
                    p.service__dishes__title__info Half Serve 6 to 8 People & Full Serve<br>12 to 14 People
            .row

                // pasta

                .col-md-6.service__dishes__pasta
                    a(href='#' class='service__dishes__link')
                        .service__dishes__more
                            p.service__dishes__more__text more
                        img(src='../components/img/pasta.jpg' class='service__dishes__img img-responsive')
                    .service__dishes__info
                        a(href='#' class='service__dishes__info__link text-uppercase') pasta trays

                // appertizers

                .col-md-6.service__dishes__appetizers
                    a(href='#' class='service__dishes__link')
                        .service__dishes__more
                            p.service__dishes__more__text more
                        img(src='../components/img/appetizer.jpg' class='img-responsive service__dishes__img')
                    .service__dishes__info
                        a(href='#' class='service__dishes__info__link text-uppercase') appetizers
            .row

                // salads

                .col-md-6.service__dishes__salads
                    a(href='#' class='service__dishes__link')
                        .service__dishes__more
                            p.service__dishes__more__text more
                        img(src='../components/img/salads.jpg' class='img-responsive service__dishes__img')
                    .service__dishes__info
                        a(href='#' class='service__dishes__info__link text-uppercase') salads

                // party platters

                .col-md-6.service__dishes__platters
                    a(href='#' class='service__dishes__link')
                        .service__dishes__more
                            p.service__dishes__more__text more
                        img(src='../components/img/platters.jpg' class='img-responsive service__dishes__img')
                    .service__dishes__info
                        a(href='#' class='service__dishes__info__link text-uppercase') party platters

        // spaghetti photo

        .col-md-2.service__spaghetti
            img(src='../components/img/spaghetti.jpg' class='service__spaghetti__img')
