.about
  margin-top 35%

  &__welcome

    &__title
      font-size 40px

      margin-top 12%

    &__text
      font-size 14px

      margin-top 24%

    &__contact
      font-size 22px

      margin-top 50%

      padding 6%

      width 50%

      &__text
        font-size 35px

    &__info
      margin-top 100%

      &__title
        font-size 40px

      &__text
        font-size 14px

      &__link
        font-size 18px

        line-height 60px

.divider
  height 80px

  margin-left 8%

  &:after
    top 100px

    height 18px
    width  18px

  &-inverse
    margin-top  115%
    margin-left   8%

    height 260px

    &:before
      height 18px
      width  18px

.about

  &__prices

    &__new
      padding 2%
      &__title
        font-size 30px

      &__circle
        height 50px
        width  50px

        &__img
          margin-left 28%
    &__sale
      margin-top 0

      &__gnocchi

        &__title
          font-size 35px

        &__price-after
          font-size 25px

          line-height 80px

          margin-top 10%

          height 150%
          width 75%

        &__price-befor
          font-size 25px

          line-height 80px

          margin-top -40%

          height 150%
          width 75%

          &__text
            font-size 22px

            margin-top  30%
            margin-left 18%

        &__info
          font-size 18px

      &__alfredo
        &__title
          font-size 35px

        &__info
          font-size 18px

        &__price-after
          font-size 25px

          line-height 80px

          margin-top 10%

          height 150%
          width 75%

        &__price-befor
          font-size 25px

          line-height 80px

          margin-top -40%

          height 150%
          width 75%

          &__text
            font-size 22px

            margin-top  30%
            margin-left 18%

      &__calamari

        &__title
          font-size 35px

        &__info
          font-size 18px

        &__price-after
          font-size 25px

          line-height 80px

          margin-top 10%

          height 150%
          width 75%

        &__price-befor
          font-size 25px

          line-height 80px

          margin-top -40%

          height 150%
          width 75%

          &__text
            font-size 22px

            margin-top  30%
            margin-left 18%

.wrap-circle

  &_alfredo
    height 80px

    margin-left -11.5%
    margin-top     15%

    &_bottom
      margin-left 0
      left 6%

      height 79px

  &_calamari
      margin-top 48.5%

      &_bottom
        margin-top 66%