// footer

.footer
  &__map

    // footer map

    position absolute

    margin-top -10%

    &__link
      width 322%

  &__contact

    // footer contact

    background-color black

    font-size 30px

    margin-top 40%

    padding 20% 10% 10% 35%

    &__list
      list-style-type none

      &__item
        float left

        margin-left 5%

        &__link
          background-color white

          border-radius 100%

          color black

          display block

          width 45px

          &__btn
            margin-left 18%

          &:hover
            background-color #bec6b0

            color black

            transition all .5s

    &__info
      color white

      margin-top  30%
      margin-left 12%



  &__form

    // footer form

    position relative

    &__img
      position absolute

      z-index 1

    &__title
      position absolute


      color white

      font-size 42px

      margin-left 20%
      margin-top  10%

      z-index 2

    &__box
      position absolute

      margin-left 20%
      margin-top  20%

      z-index 5

      &__name

        &__arey
          background-color transparent

          border none
          border-bottom solid 1px #fff
          border-radius 0

          box-shadow none

          color white

          font-size 22px

          padding 10% 5%

          width 200%

          &:focus
            border-color #fff

            box-shadow none

      &__email

        &__arey
          background-color transparent

          border none
          border-bottom solid 1px #fff
          border-radius 0

          box-shadow none

          color white

          font-size 22px

          padding 10% 5%

          width 200%

          &:focus
              border-color #fff

              box-shadow none

      &__btn
        background-color transparent

        border 1px solid white
        border-radius 5%

        color white

        font-size 22px

        margin-top 10%

        padding 5% 15%

        &:hover
          background-color white

          color black

          transition all .5s

      &__text
        margin-top 20%

        &__arey
          background-color transparent

          border none
          border-bottom solid 1px #fff
          border-radius 0

          box-shadow none

          color white

          font-size 22px

          padding 10% 5%

          width 200%

          &:focus
            border-color #fff

            box-shadow none

  &__privacy
    // footer privacy

    font-size 32px

    margin-top  80%
    margin-left 20%

    &__text

      &__link
        color black

        &:hover
          color #76c212

          text-decoration none

          transition all  .5s

// form error text

.error__text
  display  none

  color #f9a5a5

  margin-left 140%

  width 200%

// form placholder animation

.form-control::-webkit-input-placeholder
  color white

  opacity: 1

  transition opacity 0.5s ease

.form-control::-moz-placeholder
  color white

  opacity: 1

  transition: opacity 0.5s ease

.form-control:-moz-placeholder
  color white

  opacity: 1;

  transition: opacity 0.5s ease

.form-control:-ms-input-placeholder
  color white

  opacity: 1

  transition: opacity 0.5s ease

.form-control:focus::-webkit-input-placeholder
  color white

  opacity: 0

  transition: opacity 0.5s ease

.form-control:focus::-moz-placeholder
  color white

  opacity: 0

  transition: opacity 0.5s ease

.form-control:focus:-moz-placeholder
  color white

  opacity: 0

  transition: opacity 0.5s ease

.form-control:focus:-ms-input-placeholder
  color white

  opacity: 0

  transition: opacity 0.5s ease

@media screen and (max-width: 1366px)
  @import "media/footer-media-1366px.styl"