.footer
  &__map
    &__link
      width 225%



  &__contact
     font-size 24px

     margin-top 65%

     &__list
       &__item
          margin-left 2%

          &__link

            width 35px

  &__form
    &__title
      font-size 32px

    &__box

      &__name

        &__arey
          font-size 14px

          width 200%

      &__email

        &__arey
          font-size 14px

          width 200%
      &__text

        &__arey
          font-size 14px

          width 200%

      &__btn
        font-size 16px

    